{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  

  <div class="page-banner overlay-dark bg-image" style="background-image: url({% static 'img/bg_image_1.jpg' %});">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Change Password</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Change Password</h1>
      <p>
        {% if msg %}
           <b style="color:blue;">{{msg}}</b>
        {% endif %}
      </p>
      <form class="contact-form mt-5" method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-12 py-2 wow fadeInUp">
            <label for="old password">Old Password</label>
            <input type="password" id="opassword" class="form-control" placeholder="Enter old password.." name="opassword">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="new password">New Password</label>
            <input type="password" id="npassword" class="form-control" placeholder="Enter new password.." name="npassword">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="confrim new password">Confrim New Password</label>
            <input type="password" id="cnpassword" class="form-control" placeholder="Enter confrim new password.." name="cnpassword">
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Change Password</button>
      </form>
    </div>
  </div>


  <div class="page-section banner-home bg-image" style="background-image: url({% static 'img/banner-pattern.svg' %});">
    <div class="container py-5 py-lg-0">
      <div class="row align-items-center">
        <div class="col-lg-4 wow zoomIn">
          <div class="img-banner d-none d-lg-block">
            <img src="{% static 'img/mobile_app.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight">
          <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
          <a href="#" class="ml-2"><img src="{% static 'img/app_store.svg' %}" alt=""></a>
        </div>
      </div>
    </div>
  </div> <!-- .banner-home -->

  
</body>
</html>
{% endblock%}