{% extends 'doctor_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  

  <div class="page-banner overlay-dark bg-image" style="background-image: url({% static 'img/bg_image_1.jpg' %});">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Complete Appointment</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Complete Appointment</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
      <form class="contact-form mt-5" method="post" action="{% url 'doctor_complete_appointment' pk=appointment.pk %}">
        {% csrf_token %}
        <p>
          {% if msg %}
            <b style="color:blue;">{{msg}}</b>
          {% endif %}
        </p>
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Doctor Name</label>
            <input type="text" id="fullName" class="form-control" value="{{appointment.doctor.doctor.fname}}">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="emailAddress">Patient Name</label>
            <input type="text" id="emailAddress" class="form-control" value="{{appointment.patient.fname}}">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="message">Health issue</label>
            <textarea id="message" class="form-control" rows="8" name="health_issue">{{appointment.health_issue}}</textarea>
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="message">Prescription</label>
            <textarea id="message" class="form-control" rows="8" placeholder="Prescription" name="prescription"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Complete Appointment</button>
      </form>
    </div>
   
  </div>
 

  
  <div class="page-section banner-home bg-image" style="background-image: url({% static 'img/banner-pattern.svg' %});">
    <div class="container py-5 py-lg-0">
      <div class="row align-items-center">
        <div class="col-lg-4 wow zoomIn">
          <div class="img-banner d-none d-lg-block">
            <img src="../assets/img/mobile_app.png" alt="">
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight">
          <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
          <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
          <a href="#" class="ml-2"><img src="{% static 'img/app_store.svg' %}" alt=""></a>
        </div>
      </div>
    </div>
  </div> <!-- .banner-home
 -->
  
</body>
</html>
{% endblock%}