{% extends 'doctor_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>



  <div class="page-banner overlay-dark bg-image" style="background-image: url({% static 'img/bg_image_1.jpg' %});">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Doctor Profile</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Doctor Profile</h1>
       <p>
          {% if msg %}
            <b style="color:blue;">{{msg}}</b>
          {% endif %}
        </p>
      <form class="contact-form mt-5" method="post" action="{% url 'doctor_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInUp">
            <label for="doctor_degree">Doctor Degree</label>
            <input type="text" id="doctor_degree" class="form-control" placeholder="doctor_degree" name="doctor_degree" value="{{doctor_profile.doctor_degree}}">
          </div>
          <div class="col-sm-6 py-2 wow fadeInUp">
            <label for="doctor_speciality">Doctor Speciality</label>
            <input type="text" id="doctor_speciality" class="form-control" placeholder="doctor_speciality" name="doctor_speciality" value="{{doctor_profile.doctor_speciality}}">
          </div>
          <div class="col-sm-6 py-2 wow fadeInUp">
            <label for="doctor_start_time">Doctor_start_time</label>
            <input type="input" id="doctor_start_time" class="form-control" placeholder="doctor_start_time" name="doctor_start_time" value="{{doctor_profile.doctor_start_time}}">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="doctor_end_time">Doctor_end_time</label>
            <input type="input" id="doctor_end_time" class="form-control" placeholder="doctor_end_time" name="doctor_end_time" value="{{doctor_profile.doctor_end_time}}">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="doctor_fees">Doctor Fees</label>
            <input type="input" id="doctor_fees" class="form-control" placeholder="doctor_fees" name="doctor_fees" value="{{doctor_profile.doctor_fees}}">
          </div>
          {% if doctor_profile.doctor_picture %}
            <img src="{{ doctor_profile.doctor_picture.url }}" width="100px" height="100px">
          {% endif %}
          <div class="col-12 py-2 wow fadeInUp">
            <label for="doctor_picture">doctor_picture</label>
            <input type="file" id="doctor_picture" class="form-control" name="doctor_picture"> 
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Update Profile</button>
      </form>
    </div>
  </div>


  <div class="page-section banner-home bg-image" style="background-image: url({% static 'img/banner-pattern.svg' %});">
    <div class="container py-5 py-lg-0">
      <div class="row align-items-center">
        <div class="col-lg-4 wow zoomIn">
          <div class="img-banner d-none d-lg-block">
            <img src="{% static 'img/mobile_app.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight">
          <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
          <a href="#" class="ml-2"><img src="{% static 'img/app_store.svg' %}" alt=""></a>
        </div>
      </div>
    </div>
  </div> <!-- .banner-home
 -->
  
</body>
</html>
{% endblock%}